{{#1}}
Someone else also replied to the post "{{{1}}}" with "{{{2}}}".
{{/1}}
{{^1}}
Someone else also replied to a post with "{{{2}}}".
{{/1}}

{{!
    1 - post caption (if photo/audio/video) or text or link title
    2 - comment body
}}