{{#1}}
Someone replied to your post "{{{1}}}" with "{{{2}}}".
{{/1}}
{{^1}}
Someone replied to your post with "{{{2}}}".
{{/1}}

{{!
    1 - post caption (if photo/audio/video) or text or link title
    2 - comment body
}}